# ViaggioItalia Security Workshop Dependencies
# PyCon Italia 2025

# Web Framework
flask==2.3.3

# HTTP Client
requests==2.31.0

# HTML parsing (for  Reconaissance)
beautifulsoup4==4.12.2

# Session manipulation (for Session Hijacking)
itsdangerous==2.1.2
